.heading
{
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
 
 
}
.button
{
    margin-top: 30px;
    margin-left: 1150px;
    
}
.ques{
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    }