.custom-btn {
  /* Define your button styles here */
  color: black;
}

.custom-btn:hover {
  background-color: #581c87; /* Change to the desired purple color */
  color: white; /* Change text color to contrast with the background */
}
